{% load static %}
<!DOCTYPE html>
<!--for adding css file to our base.html we need to first create a static folder inside myapp folder-->
<!--then we create myapp folder inside static folder then we create file with name of style.css-->
<!--and we include that by the link tag after the bootstrap link tag-->
<html leng="eng">
    <head>
        <!--this link here is for using bootstrap we copied it from bootsrap 4 site and pasted here-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <!--style.css file should be included after bootsrtapCdn-->
        <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
        <!--and load static should be at the top-->
    </head>

    <body>
        {% block body %}

        {% endblock %}
    </body>
</html>
